<header>
  <div class="menu">
    <div class="logo">
      <a href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
      <object
        type="image/svg+xml"
        data="{{ site.blog.logo_path | relative_url }}"
        class="logosvg"
      >
        Your browser does not support svg images
      </object>
    </div>

    <!-- 모바일 버젼 -->
    <input id="mobile-nav__toggle" type="checkbox" />
    <ul class="mobile-nav">
      <label class="toggle-nav" for="mobile-nav__toggle">
        <i class="fa-solid fa-bars"></i>
      </label>
      <hr />
      <div class="nav__profile">{{ site.blog.title }}</div>
      {%- for link in site.data.navigation.main -%} {% assign class = nil %} {%
      if page.url contains link.url %} {% assign class = 'active' %} {% endif %}
      {% if link.sublinks %}
      <li class="dropdown {{ class }}">
        <a
          class="dropdown-toggle"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          href="{{ site.baseurl }}{{ link.url }}"
          >{{ link.title }}
          <i class="fa fa-caret-down fa-sm" aria-hidden="true"></i
          ><span class="caret"></span
        ></a>

        <ul class="dropdown-content">
          {% for sublink in link.sublinks %}
          <a class="dropdown-item" href="{{ site.baseurl }}{{ sublink.url }}">
            - {{ sublink.title }}</a
          >
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="masthead__menu-item">
        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>

    <!-- PC 버젼 -->
    <ul class="visible-links">
      {%- for link in site.data.navigation.main -%} {% assign class = nil %} {%
      if page.url contains link.url %} {% assign class = 'active' %} {% endif %}
      {% if link.sublinks %}
      <li class="dropdown {{ class }}">
        <a
          class="dropdown-toggle"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          href="{{ site.baseurl }}{{ link.url }}"
          >{{ link.title }}
          <i class="fa fa-caret-down fa-sm" aria-hidden="true"></i
          ><span class="caret"></span
        ></a>

        <ul class="dropdown-content">
          {% for sublink in link.sublinks %}
          <a class="dropdown-item" href="{{ site.baseurl }}{{ sublink.url }}">
            - {{ sublink.title }}</a
          >
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="masthead__menu-item">
        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </div>

  <div class="social">
    <ul>
      {% if site.author.github %}
      <li>
        <a
          href="https://github.com/{{ site.author.github }}"
          target="_blank"
          class="smaller"
        >
          <span class="icon-github"></span>
        </a>
      </li>
      {% endif %} {% if site.author.youtube %}
      <li>
        <a
          href="https://youtube.com/{{ site.author.youtube }}"
          target="_blank"
          class="smaller"
        >
          <span class="icon-youtube"></span>
        </a>
      </li>
      {% endif %} {% if site.author.instagram %}
      <li>
        <a
          href="https://instagram.com/{{ site.author.instagram }}"
          target="_blank"
          class="smaller"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      {% endif %} {% if site.author.twitter %}
      <li>
        <a
          href="https://twitter.com/{{ site.author.twitter }}"
          target="_blank"
          class="smaller"
        >
          <span class="icon-twitter"></span>
        </a>
      </li>
      {% endif %} {% if site.author.mail %}
      <li>
        <a href="mailto:{{ site.author.mail }}" target="_blank">
          <span class="icon-mail_outline"></span>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="#" onclick="switchTheme()" title="Switch theme?">
          <span class="icon-invert_colors" id="theme-switcher"></span>
        </a>
      </li>
    </ul>
  </div>
</header>
