// to be shared by both hidden link and visible link
.dropdown {
  width: auto;
  box-sizing: border-box;
  font-family: SCDream Light;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  padding: 0 10px;

  position: absolute;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-sizing: border-box;

  z-index: 1;
}

.dropdown-toggle {
  font-family: SCDream;
}

.dropdown:hover .dropdown-content {
  display: flex;
  // font-size: 17px;
}

.dropdown-item {
  font-size: 1rem;
  padding: 5px 10px;
}

.visible-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  font-family: sans-serif;

  li {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: list-item;
    text-align: -webkit-match-parent;
  }

  a {
    position: relative;
  }
}

.hidden-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: var(--bg-color);

  a {
    margin: 0;
    padding: 10px 20px;
    font-size: $type-size-5;
  }

  li {
    display: block;
    border-bottom: 1px solid $border-color;
  }
} //hidden link

// 모바일 버젼

.toggle-nav {
  border: none;
  display: none;
  width: 50px;
  position: fixed;
  top: 10px;
  right: 10px;

  z-index: 99;
}

.toggle-nav:hover {
  cursor: pointer;
}

#mobile-nav__toggle {
  display: none;
}

.nav__profile {
  font-family: $JejuMyeongjo;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 20px;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: fixed;

  top: 0;
  height: 50px;
  width: 350px;
  overflow: hidden;

  background-color: transparent;

  transform: translateX(-310px);
  transition: 0.5s all ease-out;
  z-index: 20;

  .dropdown {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 30px;
  }

  .dropdown-toggle {
    display: block;
    justify-self: flex-start;
    align-self: flex-start;
    border-bottom: 1px solid $border-color;
  }

  .dropdown-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 10px;
    position: relative;
  }

  .dropdown-item {
    width: 100%;
    font-size: 1rem;
  }
}

#mobile-nav__toggle:checked ~ .mobile-nav {
  height: 100vh;
  width: auto;
  background-color: var(--bg-color);
  transform: translateX(-2.5rem);
  overflow: auto;

  .dropdown {
    width: 300px;
  }

  .dropdown-content {
    display: flex;
  }
}

@media (max-width: 48rem) {
  .visible-links {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .toggle-nav {
    display: block;
  }
}
