// Variables
//-------------------------------

$sans-serif: -apple-system, BlinkMacSystemFont, San Francisco Text, Helvetica, Arial, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
$serif: Menlo, Monaco, Courier, monospace, serif;
// $base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;

$base-font-size: 20px;
$mobile-font-size: 18px;
$lead-font-size: 1.15em;
$blog-title-size: 2.5rem;
$post-title-size: 3rem;
$mobile-post-title-size: 2rem;
$base-line-height: 1.6;
$code-line-height: 1.4;

$footnote-font-size: 0.75em;
$magic: 1.618em;

$hero-heading-color: #fff;
$hero-date-color: #ccc;

// navigation
$background-color: rgba(238, 238, 238, 1);
$box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
$primary-color: #949494;
$border-color: #949494;
$border-radius: 10px;
$type-size-5: 1rem;
$masthead-link-color-hover: white;
$navicon-link-color-hover: yellow;